.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data_private/
data_restricted
joinpoint_analyses/
results_explorer/cached_images/
rmds/paa2018_slides/paa_slides_cache/beamer/
rmds/paa2018_slides/paa_slides_files/
rmds/epc2018_slides/epc_slides_files/
rmds/epc2018_slides/epc_slides_cache/beamer/

